<div class="content col-xs-10 col-xs-offset-1">
	<form>
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<md-input-container>
				<input ng-model="ctrl.jumbotron.title">
			</md-input-container>

			<md-input-container>
				<input ng-model="ctrl.jumbotron.img">
			</md-input-container>

		<form>
		 <h3>Upload Image</h3>

			<input class="button" ngf-select name="userPhoto" accept="image/*" ngf-max-size="2MB" type="file" ng-model="ctrl.img" style="width:100%">
			<md-button class="button" ng-click="ctrl.uploadImg(ctrl.img)" style="font-weight:400">Click to Upload Image File</md-button>
		</form>


			<div>
			<br>
				<button class="featured button" style="width:100%;padding:10px" ng-click="ctrl.toggleActivate()">
					{{ ctrl.activeBtn }}
				</button>
			</div>

			<button class="button" type="submit" ng-click="ctrl.updateJumbotron()" style="width:100%; margin-top:10px; padding:10px">Update Product</button>

			<button class="button" type="submit" ng-click="ctrl.deleteJumbotron(jumbotronId)" style="width:100%; margin-top:10px; padding:10px">Delete Product</button>

	</form>
</div>
