<div class="content product-console col-sm-2">
	<div class="col-sm-12">
		<a ui-sref="admin.addproduct">
			<md-button>Add Product</md-button>
		</a>
	</div>
	<div class="col-sm-12">
		<md-input-container>
			<md-select ng-model="ctrl.gender" placeholder="Gender/Age">
				<md-option ng-value="gender" ng-repeat="gender in ctrl.genders">{{gender.label}} 
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container>
			<md-select ng-model="ctrl.category" placeholder="Select Category" >
				<md-option ng-value="category" ng-repeat="category in ctrl.categories">{{category.label}} 
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container>
			<md-select ng-model="ctrl.brand" placeholder="Select a Brand" >
				<md-option ng-value="brand" ng-repeat="brand in ctrl.brands">{{brand.label}} 
				</md-option>
			</md-select>
		</md-input-container>
	</div>
</div>

<div class="content product-table col-sm-10">
	<table>
		<tr>
			<th class="col-sm-3">Title</th>
			<th class="col-sm-2">Brand</th>
			<th class="col-sm-2">Gender</th>
			<th class="col-sm-2">Image Preview</th>
			<th class="col-sm-2">Details</th>
			<th class="col-sm-1">Edit</th>
		</tr>
		<tr ng-repeat="product in ctrl.products 
				| filter:{gender:ctrl.gender.value} 
				| filter:{category:ctrl.category.value}
				| filter:{brand:ctrl.brand.value}">
			<td class="col-sm-3">{{product.title}}</td>
			<td class="col-sm-2">{{product.brand}}</td>
			<td class="col-sm-2">{{product.gender}}</td>
			<td class="col-sm-2"><img ng-src="{{'/assets/img/' + product.img}}" style="width:100px"></td>
			<td class="col-sm-2">{{product.details}}</td>
			<td class="col-sm-1"><button class="button" ng-click="ctrl.toEditProduct(product,product.id)">x</button></td>
		</tr>
	</table>
</div>




