
<div class="content col-sm-12 add-product">
	<form>
			<div>
				<md-input-container>
					<input placeholder="Title" ng-model="ctrl.title">
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<input placeholder="image.png" ng-model="ctrl.imgname">
				</md-input-container>
			</div>

			<form>
				<input ngf-select name="userPhoto" accept="image/*" ngf-max-size="2MB" type="file" ng-model="ctrl.img">
				<button ng-click="ctrl.uploadImg(ctrl.img)">Upload File</button>
			</form>

			<div>
				<button class="featured" ng-model="ctrl.active" ng-click="ctrl.toggleActivate()">
					{{ ctrl.activeBtn }}
				</button>
				<p>is it featured? {{ ctrl.active }}</p>
			</div>

		<div class="col-sm-12">
			<button class="button" type="sumbit" ng-click="ctrl.addJumbotron()">Add Jumbotron</button>
		</div>
	</form>
</div>
