<div class="content col-sm-12 add-product">
	<form>
		<div class="col-sm-6">
			<div>
				<md-input-container>
					<input placeholder="Title" ng-model="ctrl.title">
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<input placeholder="Details" ng-model="ctrl.details">
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<input placeholder="image.png" ng-model="ctrl.imgname">
				</md-input-container>
			</div>
		</div>
		<div class="col-sm-6">
			<div>
				<md-input-container>
					<md-select ng-model="ctrl.brand" placeholder="Select a Brand" >
						<md-option ng-value="brand" ng-repeat="brand in ctrl.brands">{{brand.label}} 
						</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<md-select ng-model="ctrl.gender" placeholder="Gender/Age">
						<md-option ng-value="gender" ng-repeat="gender in ctrl.genders">{{gender.label}} 
						</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<md-select ng-model="ctrl.category" placeholder="Select Category" >
						<md-option ng-value="category" ng-repeat="category in ctrl.categories">{{category.label}} 
						</md-option>
					</md-select>
				</md-input-container>
			</div>

			<form>
				<input ngf-select name="userPhoto" accept="image/*" ngf-max-size="2MB" type="file" ng-model="ctrl.img">
				<button ng-click="ctrl.uploadImg(ctrl.img)">Upload File</button>
			</form>

			<div>
				<button class="featured" ng-model="ctrl.featured" ng-click="ctrl.toggleFeatured()">
					{{ ctrl.featureBtn }}
				</button>
				<p>is it featured? {{ ctrl.featured }}</p>
			</div>
			
		</div>
		<div class="col-sm-12">
			<button class="button" type="sumbit" ng-click="ctrl.addProduct()">add product</button>
		</div>
	</form>
</div>
