
<div class="content col-sm-12">

	<div class="col-sm-2">
		<md-input-container>
			<md-select ng-model="ctrl.gender" placeholder="Gender/Age" >
				<md-option ng-value="gender" ng-repeat="gender in ctrl.genders">{{gender.label}} 
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container>
			<md-select ng-model="ctrl.category" placeholder="Select Category" >
				<md-option ng-value="category" ng-repeat="category in ctrl.categories">{{category.label}} 
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container>
			<md-select ng-model="ctrl.brand" value="All"placeholder="Select a Brand" >
				<md-option ng-value="brand" ng-repeat="brand in ctrl.brands">{{brand.label}} 
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container>
		<label></label>
  			<input type="text" ng-model="search" placeholder="Search">
		</md-input-container>
	</div>

	<div class="col-sm-10">
		<div class="sale-banner">
			<h4><b>All items are 30-50% off original price! Shop in store only.</b></h4>
		</div>

		<div class="row">
			<div ng-repeat="product in ctrl.products 
							| filter:{featured:true}
							| filter:search
							| filter:{gender:ctrl.gender.value} 
							| filter:{category:ctrl.category.value}
							| filter:{brand:ctrl.brand.value}" 
				class="product-grid col-sm-4">

				<div>
					<img ng-src="{{'/assets/img/' + product.img}}" style="width:100%">
				</div>
				<div class="grid-text">
					{{product.title | uppercase}}<br>
					<b>{{product.brand | uppercase}} | {{product.gender | uppercase}}</b>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <button ng-click="ctrl.test()"> debug</button> -->


<div class="footer col-xs-12">
	<div class="footer-social">
		<h2>get social with us</h2>
		<a href="https://twitter.com/svpsports"><img class="social-icon" src="../../assets/img/twitter.png"></a>
		<a href="https://www.facebook.com/SVP.Sports.Admin/"><img class="social-icon" src="../../assets/img/fb.png"></a>
		<a href="https://www.instagram.com/svpsports/?hl=en"><img class="social-icon" src="../../assets/img/ig.png"></a>
	</div>

	<div class="col-xs-12 col-sm-6 style-4">
		<form action="//haehanna.us13.list-manage.com/subscribe/post?u=3f1cdc18c169f12d4a703f06e&amp;id=6859eaa0fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>

		get our newsletter<br>
		
		<input type="email" value="" name="EMAIL" class="style-4">
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3f1cdc18c169f12d4a703f06e_6859eaa0fb" tabindex="-1" value=""></div>
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

		</form>
	</div>

	<div class="col-xs-12 col-sm-3">
		<h2>SVP Sports</h2>
		<h4>
			<a ui-sref="main.about">about</a>
			<a ui-sref="main.locations">locations</a>
			<a ui-sref="main.careers">careers</a>
			<a ui-sref="admin.page">admin</a>
		</h4>
	</div>

	<div class="col-xs-12 col-sm-3">
		<h2>Help</h2>
		<h4>
			<a ui-sref="main.return">returns & exchanges</a>
			<a ui-sref="main.contact">contact</a>
		</h4> 
	</div>
</div>