/*text*/
h1, h2, h3, h4, h5, p, body{
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	font-weight:400;
}
h1{
	font-size:20px;
}
/*links*/
h2{
	font-size:16px;
}
h3{
	font-size:14px;
}
/*footer*/
h4{
	font-size:12px;
	font-weight:300;
}
h5{
	font-size:10px;
	font-weight:300;
}
p{
	font-size:10px;
}
a{
	color: black;
}
a:hover{
	color: #d9d9d9;
	text-decoration:none;
	cursor:pointer;
}
/*nav bar*/
.navsbar{
 	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	width:100%;
	z-index:99;
	height:80px;
}
.navlogo img{
	height:80px;
}
.navlogo{
	z-index: 1000;
}
.navlinks, .navlinks a{
	text-align:center;
}
.navlinks h2{
	padding-top:10%;
}
.navlinks a{
	padding: 0 10px 0 10px;
}
.show{
	color: black;
	z-index: 100;
	background-color: #ffffff;
	margin:0;
	padding:0;
}
.show ul{
	list-style: none;
}
.content{
	margin-top:80px;
}

/*buttons*/
.button{
	border:0;
	border-radius: 3px;
	padding:5px 15px 5px 15px
	margin-top:10px;
	outline: none !important;
}
.button:hover{
	background-color: #d9d9d9;
}
.md-button {
	padding: 5px 10px 5px 10px;
}
.md-button:not([disabled]):hover, .md-button, .button {
	background-color: rgba(158, 158, 158, 0.2);
}
.md-button[disabled] {
	color : rgba(0, 0, 0, 0.26);
	background-color: transparent;
}
.admin-filter .md-button, .jumbo .md-button{
	font-weight:400;
	text-transform:capitalize;
	width:100%;
}
.login-button .button{
	width:100%;
}
form .md-button{
	width:100%;
	margin:10px 0 0 0;
	padding:0;
	text-transform: capitalize;
	font-size:12px;
	line-height: 25px;
    min-height: 25px;
}

/*select boxes*/
md-input-container{
	width:100% ;
}
md-input-container input{
	font-weight:400;
}
.md-select{
	max-width: 100px
}
md-select-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0px 0px 0;
    max-height: 400px;
    min-height: 48px;
    overflow-y: hidden;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.md-select-menu-container {
	z-index:200;
}

/*main*/
.featured-products, .locations-title, .jumbotron-all, .login-page{
	padding:3%;
	text-align:center;
}
.main-products{
	margin-bottom:50px;
}
.sale-banner{
	background:#595959;
	margin:10px;
	padding:10px;
	color:#ffffff;
	text-align:center;
}
.product-grid{
	padding:10px;
}
.product-grid img{
	max-height:240px;
}
.row{
	padding:0 15px 0 15px;
}
.grid-text{
	margin-bottom:10px;
	background:#E2E2E2;
	padding:5px;
	color: #595959;
}

/*locations*/
.content-margin span, .about span{
	padding:1%;
	background-color:#FFF86D; 
}
.content-text{
	margin-top:4%
}
.content-margin{
	padding:0 20% 50px 20%;
}

/*admin*/
.login-page md-input-container input{
	width:100%;
	text-align:center;
}
.admin-all, .locations-type{
	padding:5%;
}
/*.product-table{
	padding:0;
	margin:20px 0 20px 0;
}*/
.product-console{
	padding:0;
}
.fa-search{
	margin: 30px 0 0 0;
	text-align:right;
}
form h3{
	padding-top:20px;
	font-weight:400;
	color:#ABABAB;
}



/*footer*/
.footer{
	background:#E2E2E2;
	padding: 2% 10% 2% 10%;
}
.footer h2, .footer a{
	padding-bottom:5px;
}
.footer a, .footer i{
	display:block;
}
.footer-social{
	text-align:center;
	margin-bottom:20px;
}
.footer-social a{
	display:inline-block;
	margin-bottom:25px;
	color:#595959;
}
.social-icon{
	height:30px;
	padding:5px;
}
.style-4 input[type="email"]{
	padding:0px;
	border:none;
	border-bottom:solid 2px #c9c9c9;
	transition: border 0.3s;
	background:none;
	display:inline-block;
}
.style-4 input[type="email"]:focus,
.style-4 input[type="email"].focus{
	border-bottom:solid 2px #969696;
	-webkit-box-shadow: none;
	box-shadow:none;
	outline:0;
}

/*quesionable*/
.add-product{
	padding: 3% 30% 3% 30%;
	text-align:left;
}
